@media (max-width: 1200px) {
    .footer__slogan{
       padding-left: 0 !important;
    }
    div.footer__row3{
        justify-content: center;
        h6{
            line-height: 27px;
        }
    }
    .social__logo{
        display: flex;
        justify-content: center;
    }
   
    .social__network{
        display: flex;
        justify-content: center;
    }
    .social_text{
        padding-right: 0;
        
    }
}

@media (max-width: 644px) {
   
}
