@media (max-width: 1200px) {
    /* home-page1 */
    .not-pc-pd-row15{
        padding-right: 15px;
        padding-left: 15px;
    }
    .home-page1__list-link {
        flex: 1;
    }
    .title-hl {
        flex-wrap: wrap;
        justify-content: center;
    }
    .home-page1__action {
        line-height: 27px;
    }
    .home-page1__select-box {
        flex: 1;
    }
    /* home-page2 */

    /* home-page3 */
    .home-page3__box {
        flex-direction: column;
    }
    .container__home-page5-wraper{
        flex-direction: column;
    }
}

@media (max-width: 644px) {
    /* home-pag3 */
    .hom-page3__grid {
        padding: 37.5px;
    }
    .home-page3__btn {
        max-width: 250px;
        text-align: center;
    }
    /* home-page4 */
    .home-page4__time{
        flex: 1;
    }
    .home-page4__time-number{
        font-size: 30px;
    }
}

