/* tu tu hien ra */

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes turn {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* tu goc hien ra */

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes downto {
    from {
        top: 0%;
    }
    to {
        top: 130%;
    }
}

@keyframes downtoseach {
    from {
        top: 24px;
    }
    to {
        top: 70px;
    }
}
@keyframes runslide {
    from {
        transform: perspective(1000px) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateY(360deg);
    }
}
