.text-50 {
    font-size: 50px;
    line-height: 50px;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-uppercase {
    text-transform: uppercase !important;
}.text-cptl {
    text-transform: capitalize;
}
/* text */
.fs-45 {
    font-size: 45px;
    line-height: 45px;
}
.fs-36 {
    font-size: 36px;
    line-height: 36px;
}
/* fs */
.cl__fff {
    color: #fff;
}
.cl__f3a46b {
    color: #f3a46b;
}
.cl__555 {
    color: #555;
}

.cl__1bbc9b {
    color: #1bbc9b;
}

/* cl */
.lh-27 {
    line-height: 27px !important;
}
/* lh */

.bgr-ffd205 {
    background-color: #ffd205;
}
.bgr-f76570 {
    background-color: #f76570;
}
.bgr-ba71da {
    background-color: #ba71da;
}
.bgr-ffd205-to-ff9b05 {
    background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
}
.bgr-f76570-to-f78d65 {
    background: linear-gradient(to right, #f76570 0%, #f78d65 100%);
}
.bgr-ba71da-to-da717b {
    background: linear-gradient(to right, #ba71da 0%, #da717b 100%);
}
/* bgr*/



.z-index1 {
    position: relative;
    z-index: 1;
}

/* position */

/* texalign */
.flex-jtfcontentstart {
    justify-content: start;
}
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
/*flex  */
.mgr0 {
    margin-right: 0;
}

.mgl0 {
    margin-left: 0;
}
.mgt20 {
    margin-top: 20px;
}
.mgt30 {
    margin-top: 30px;
}
.mgb20 {
    margin-bottom: 20px;
}
.mgb30 {
    margin-bottom: 30px;
}
.mgb15 {
    margin-bottom: 15px;
}
.mgb40 {
    margin-bottom: 40px;
}
.mgt60 {
    margin-top: 60px;
}

/* margin */
/* padding */
.pdt-162{
    padding-top: 162px;
}
.pdt-140{
    padding-top: 140px;
}
/* padding */

.after_-bg-f76570::after {
    background-color: #f76570;
}
.after_-bg-1bbc9b::after {
    background-color: #1bbc9b;
}
.afterzindex0::after {
    z-index: -1;
}
.after_-bg-ba71da::after {
    background-color: #ba71da;
}

/* after */
.pos-rel-z1{
    position: relative;
    z-index: 1;
}

/* pos */
