.footer {
    background-color:var(--color-main);
    padding-top: 100px;
    padding-bottom: 45px;
}
.footer-layuot__wraper {
}
.footer-layuot__box {
    grid-row-gap: 170px;
    grid-template-rows: auto auto;
}
.footer__logo {
    grid-column: 1 / span 1;
    align-self: center;
    width: 80px;
    height: 80px;
    margin-right: var(--grid-gap-col-mg);
}
.footer__nav {
    grid-column: 7 / span 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: var(--grid-gap-col);
    padding-top: 12px;
    padding-bottom: 12px;
    grid-row: 1;
}
.nav__list {
    grid-column: auto / span 3;
}
.nav__list.page {
}
.nav__list.social {
}
.nav-item {
    a {
        color: #ffffff80;
        font-size: 12px;
       
        font-weight: 800;
        letter-spacing: 1px;
        line-height: 40px;
    }
}
.nav-item.title {
    margin-bottom: 47px;

    color: white;
    font-size: 12px;
    
    font-weight: 800;
    letter-spacing: 1px;
}
.footer__authors{
font-size: 12px;
color:#fff;
grid-row: 2;
grid-column: 1/span 2;
font-weight: 400;
a{display: inline;
    font-weight: 800;
    color: #fff;
}

}

/* rps */

@media (min-width: 1366px) {

    
  
}
@media (min-width: 1024px) and(max-width:1365px) {
   
   
}
@media (min-width: 768px) and(max-width:1023px) {
   
}
@media (max-width:767.5px){
    .footer-layuot__box{
        display: flex;
        flex-direction: column;
    }
    .nav-item{
        text-align: center;
    }
    .footer__authors{
        text-align: center;
    }
   
}