.header__btn-mobie {
    display: none;
    align-self: center;
    span {
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 900;
        transition: 0.4s;
        i {
            font-size: 20px;
        }
    }
}
.open {
    display: inline;
}
.close {
    display: none;
}
.header.open-menu .open {
    display: none;
}
.header.open-menu .close {
    display: inline;
}
@media (max-width: 767.5px) {
    .header {
        transition: 0.5s;
    }
    .header.open-menu {
        .header__list-link {
            display: block;
        }
    }
    .header-box {
        justify-content: space-between;
    }
    .header__list-link {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background-color: #fff;
        transition: 1s;
        margin-top: -2px;
    }
    .header__item-link {
        line-height: 44px;
        text-align: center;
    }
}
